

label {
    border-width: 0px;
}

input, button, .btn, textarea, select {
    background-color: inherit;
    display: inline-block;
    @include standard-borders();
    border-width: 1px;
    @include standard-padding();
}

.form-check {
    @include standard-borders();
    border-width: 1px;
    @include standard-padding();
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
}