
@import 'normalize';

@mixin standard-padding {
  padding: 0.62rem;
}

@mixin standard-borders {
    border-color: #333333;
    border-style: solid;
}

@import 'skeleton-forms';



html, body {
    margin: 0.25rem;
    padding: 0.25rem;
}

* {
    font-weight: normal;
    line-height: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.62;
}

h6 { font-size: 1.00em; }
h5 { font-size: 1.25em; }
h4 { font-size: 1.50em; }
h3 { font-size: 1.75em; }
h2 { font-size: 2.00em; }
h1 { font-size: 2.25em; }

h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
    margin: 1.5rem 0 0.5rem 0;
    @include standard-borders();
    border-width: 0 0 1px 0;
    
}




.list {
    margin: 1rem 0;
    padding: 0 1rem;
    li {
        margin-bottom: 1rem;
    }
    li:last-child {
        margin-bottom: 0rem;
    }
}





table {
    margin: 1rem 0;
    @include standard-borders();
    border-width: 1px 0 0 1px;
    border-spacing: 0;
     th, td {
        @include standard-borders();
        border-width: 0px 1px 1px 0px;
        text-align: start;
        @include standard-padding();
    }
}

table thead,
table tbody,
table tfoot {
    
}